:root {
    --brand-font: "Crimson Pro";
    --azul: #8DCFDA;
    --amarillo: #F4D224;
    --verde: #81BB28;
    --verde-claro: #AFCC56;
    --granate: #B9374A;
    --rojo: #E27661;
    --azul-oscuro: #06ABAB;
    --naranja: #EEA829;
}
