.footer {
    border-top: 1px solid var(--azul-oscuro);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-image: none;
    background-color: white;
    

    &_license {
        font-family: var(--brand-font);
        color: var(--azul-oscuro);
        margin-left: 40px;
        margin-top: 10px;
        font-size: small;

        @media screen and (width> 1019px) {
            font-size: 20px;
        }
    }

    &_logo {
        width: 35px;
        margin-right: 40px;

        @media screen and (min-width: 768px){
            width: 60px;
            height: 60px;
        }
}
};
