.drinksList {
    margin-top: 10px;
    padding-bottom: 20px;
    font-family: var(--brand-font);
    font-size: 25px;
    font-weight: 50;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-image: linear-gradient(to right, #AFCC56, #06ABAB);
    

    @media screen and (min-width: 768px){
        justify-content: space-around;
        margin-left: 100px;
    }

    .favList {
        color: var(--granate);
        width: 50vw;

        &_h5 {
            padding: 10px;
        }
        
        &_ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media screen and (min-width: 900px){
                padding-left: 20px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 5px;
                list-style: none;
            }
        }

        .btnFavReset {
            font-family: var(--brand-font);
            border: solid 2px var(--amarillo);
            font-weight: 800;
            color: var(--granate);
            font-size: small;
            padding: 4px;
            background-color: var(--azul);
        }
    }

    .coctailsList {
        color: var(--granate);
        width: 50vw;

        &_h5 {
            padding: 10px;
        }

        &_ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media screen and (min-width: 900px){
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5px;
            list-style: none;
            }
        }
    }
}