@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/cards';
@import 'layout/lists';
  

.body {
    @media screen and (min-width: 768px){
        background-image: url('/images/logo-coctail.png');
    }
}

.searchArea {
    display: flex;
    background-color: var(--verde);
    padding: 20px;

    .search {
        font-family: var(--brand-font);
        font-weight: 400;
        font-size: large;
        color: var(--azul-oscuro);
    }

    @media screen and (min-width: 768px){
        margin-top: 10px;
        margin-left: 100px;
    }

    .search {
        padding: 8px;
    }

    .filter {
        font-family: var(--brand-font);
        border: solid 2px var(--amarillo);
        font-weight: 800;
        color: var(--verde);
        font-size: large;
        padding: 8px;
        background-color: var(--azul);
    }
}

@media (hover: hover) {
    .filter:hover {
        transform: scale(1.2);
    }  
}

.hidden {
    display: none;
}

